.bio {
     display: flex;
}

.bioImagen {
     margin-right: 3em;
     img{
          width: 16em;
          height: auto;
          border-radius: 50%;
     }
}

.bioContenido {
     display: flex;
     flex-direction: column;
     justify-content: center;
}

.bioContenidoNombre {
     margin-top: 0;
     margin-bottom: 0;
     font-weight: 900;
     font-size: 52px;
     line-height: 65px;
     color: #E7AB79;
}

.bioContenidoRol {
     margin-top: .2em;
     margin-bottom: .4em;
     font-size: 37px;
     line-height: 47px;
     color: #B25068;
}

.bioContenidoTag {
     margin: 0;
     font-weight: bold;
     font-size: 29px;
     line-height: 36px;
     color: #B25068;

}