
.container {
  min-height: 100vh;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  max-width: 800px;
  padding: 4rem 0;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3em;
  text-align: center;

}

.posts{
  list-style: none;
  padding: 0;
  margin: 5rem 0;

  & > li{

    margin-bottom: 3rem;
    &:last-child{
      margin-bottom: 0;
    }

  }
  p{
    &:first-child{
      margin-top: 0;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.buttonLog{
  background: royalblue;
 color: white;
 padding: 0.7em 1em;
 padding-left: 0.9em;
 display: flex;
 align-items: center;
 border: none;
 border-radius: 16px;
 overflow: hidden;
}

.buttonLog:hover{
  transition: 0.3s;
  transform: scale(1.1);
}

.centerItems{
  display: flex;
    justify-content: space-around;
}